/* Color pallet */
:root {
  --primary-color: white;
  --secondary-color: #2f2d2e;
  --tertiary-color: #457b9d;
}
/* Global styles */
body {
  background-color: var(--primary-color);
  padding-top: 80px;
}
body main {
  margin-left: 10%;
  margin-right: 10%;
}

.section {
  padding-top: 4rem;
}
/* NavBar */
#navbar {
  background-color: var(--secondary-color);
}
#navbar img {
  width: 30px;
  height: 24px;
}
/* carousel  */

/* Cards */
#brand-cards .card {
  width: 15vw;
  display: flex;
}
#brand-cards .link {
  padding: 5%;
}
#brand-cards .card img {
  height: auto;
  width: 15vw;
}
/* Nintendo page */
#nintendo-games,
#nintendo-games img {
  height: 30vh;
  width: auto;
}
/* footer */
footer {
  background-color: var(--secondary-color);
}

/* media querys for different sized screens */
@media screen and (max-width: 768px) {
  #brand-cards .card,
  #brand-cards .card img {
    width: 30vw;
  }
}
@media screen and (max-width: 1199px) {
  #brand-cards .card,
  #brand-cards .card img {
    width: 30vw;
  }
}
