/* Color pallet */
:root {
  --primary-color: white;
  --secondary-color: #2f2d2e;
  --tertiary-color: #457b9d;
}
/* Global styles */
body {
  background-color: var(--primary-color);
  padding-top: 80px;
}
body main {
  margin-left: 10%;
  margin-right: 10%;
}
/* .container {
  width: auto;
  top: 50%;
  left: 50%;
} */
.section {
  padding-top: 4rem;
}
/* NavBar */
#navbar {
  background-color: var(--secondary-color);
}
#navbar img {
  width: 30px;
  height: 24px;
}
/* carousel  */
/* #popular-games {
  height: auto;
}
#popular-games .carousel-item img {
  height: auto;
} */
/* Cards */
#brand-cards .card {
  height: auto;
  width: 15vw;
  display: flex;
}
#brand-cards .link {
  padding: 5%;
}
#brand-cards .card img {
  height: auto;
  width: 15vw;
}
/* footer */
footer {
  background-color: var(--secondary-color);
}

/* media querys for different sized screens
@media screen and (min-width: 768px) {
  #brand-cards .card,
  #brand-cards .card-body {
    width: 25vw;
    height: auto;
  }
} */
